 table{
                width: 70%;
                border: 5px solid black;
                text-align: center;
                margin-left: 15%;     
                margin-top: 5vh;
            }
            th, tr, td{
                border: 1px solid black;
            }
            caption{
                font-size: 2em;
            }